body {
  background-color: rgb(80, 80, 80);
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

footer {
  background-color: rgb(40, 40, 40);
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

.logo a {
  font-family: "Bungee Shade", cursive;
  font-size: 60px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 40px;
}

.logo p {
  font-family: "Righteous", cursive;
  font-size: 15px;
  color: white;
  margin-top: 40px;
}

#navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  font-family: "Righteous", cursive;
  font-size: 20px;
}

#navbar li a:hover {
  color: white;
}

#navbar li {
  margin-top: 20px;
}
